#all{
color: white;
text-align: center;
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}

.ex{
font-size: 50%;
}

.labels{
color: gray;
}

body, html{
height: 100%;
}

.bg{
background-image: url("https://wallpapercave.com/wp/NwLtzXJ.jpg"),
                  url("https://vignette.wikia.nocookie.net/joke-battles/images/5/5a/Black.jpg/revision/latest?cb=20161223050425");
min-height: 100%;
background-position: center, center;
background-repeat: no-repeat, repeat;
background-size: 100%, cover;
}
